@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero Section */
.hero {
  background-image: url("/bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f3f4f6; /* Fallback color */
}

/* Hide Carousel Controls */
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
  visibility: hidden;
}

/* Hide Scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;      /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}
