@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url("/bg-img.jpg");
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}
